@font-face {
  font-family: 'HankRnd-Bold';
  src: url('../Font/Hank-Rounded-Family/Hank Rounded/Hank-Rounded/HankRnd-Bold.otf') format("truetype");
}
@font-face {
  font-family: 'LeatherfaceRegular';
  src: url('../Font/leatherface-font/LeatherfaceRegular-0wj9.otf') format("truetype");
}
@font-face {
  font-family:'PoppinsBlack';
  src:url('../Font/Poppins/Poppins-Black.ttf') format("truetype");
}
@font-face {
  font-family:'PoppinsBold';
  src:url('../Font/Poppins/Poppins-Bold.ttf') format("truetype");
}
@font-face {
  font-family:'PoppinsRegular';
  src:url('../Font/Poppins/Poppins-Regular.ttf') format("truetype");
}
@font-face {
  font-family:'PoppinsMedium';
  src:url('../Font/Poppins/Poppins-Medium.ttf') format("truetype");
}
/* @font-face {
  font-family: 'Moga';
  src:url('../Font/moga_rezeki_dua/MoGa-ReZeKi-DuA.ttf') format("truetype");
} */

html{
  scroll-behavior: smooth;
  /*To remove extra whitespace after footer*/
  padding:0;
  margin:0;
  /*To remove extra whitespace after footer ends*/
}
body{
  /* background-color: black; */
  /* margin: 0px 0px; */
  /* margin-top: -20px;
  margin-right: -50px; */
  /*To remove extra whitespace after footer*/
  margin: 0;
  padding: 0;
  /*To remove extra whitespace after footer ends*/
  overflow-x: hidden;
  background-color: black;
}
button:hover{
  cursor: pointer;
}
.download-section{
  height: auto;
  width: 100%;
  /* border: 2px solid blue; */
  background-image: url("../images/Download bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.download-text{
  display: block;
  height: 10vh;
  width: 100%;
  /* border: 2px solid pink; */
  text-align: center;
  font: normal normal normal 85px/87px LeatherfaceRegular;
  letter-spacing: 0px;
  font-size: 6vw;
  color: #FFFFFF;
  opacity: 1;
  /* padding-top: 4%; */
  padding-top: 16%;/*7%;*/
  padding-bottom: 5%;
}

.download-now{
  /* display: block; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  height: auto;
  width: 100vw;
}
/* #download-mobile{
  display: none;

} */
.flex1{
  flex: 100%;
  height: auto;
  width: auto;
  /* border: 2px solid green; */
  padding-left: 7%;
  padding-right: 7%;

}

.flex1 img{
  width: 100%;
  height: 100%;
  /* padding-top: 6vh; */
}
#download-mobile{
  display: none;

}

/* navbar header */
.logo{
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 3%;
  height: auto;
  width: 10vw;
}
.logo img{
  height: auto;
  max-width: 100%;
}

.nav_bar{
  width:100%;
  padding-bottom: 2vw;
  /* border: 2px solid red; */
}
.nav_bar ul{
  list-style: none;
  display: inline-block;
  position: relative;
  top: 4vh;
  left: 18%;
  font-size: 1.2vw;
}
.nav_bar a{
  text-decoration: none;
  font-family: "HankRnd-Bold";
  color: #FFFF;
  padding-bottom: 22px;
}
/* a.current {
  border: none;
  border-bottom: 3px solid #FF8F1E;
  border-radius: 2px;
  padding-bottom: 10px;
} */
.nav_tab {
  display: inline;
  padding: 0.7vw;
  text-align: center;
}
.nav_tab div{
  display: inline;
}
.nav_tab:hover{
  border: none;
  border-bottom: 2px solid #FF8F1E;
  border-radius: 2px;
}

.nav_tab:nth-child(3){
  border: none;
  border-bottom: 2px solid #FF8F1E;
  border-radius: 2px;
}

.nav_tab.social_media_icons:hover{
  border: none;

}

.social_media_icons img{
  display: inline;
  height: auto;
  width: 3.5vw;
  border: none;
  margin-bottom: -1.5vw;
}

.twitter{
  margin-left: 7vw;
}

.twitter img{
  height: auto;
  width: 3.9vw;
}
/*navbar header-mobile starts*/

.drop-down{
  display: none;
  position: absolute;
  height: 6vh;
  width: 6vw;
  top: /*16vh*/11vh;
  right: 5%;
}
.drop-down img{
  height: 100%;
  width: 100%;
}
/* .ham-burger-icon{
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: orange;
  margin: 6px 0;
} */
.nav-ham{
  /* display: none; */
  position:fixed;
  top: 0;
  /* left: 66vw; */
  transition: 0.5s;
  width: 0;
  right:0;
  height: 156vh;
  overflow:hidden;
  z-index: 1;
}
.yellow-ham-img{
  /* bottom: 0; */
  display: inline-block;
  text-align: center;
  height: 148vh;
  width: 45.5vw;
}

.yellow-ham-img img{
  height: 100%;
  width: 100%;
}
.ham-cross {
    position: absolute;
    right: 0;
    top: 4vh;
    height: /*6vh*/4vh;
    width: 9vw;
    color: white;
}
.ham-cross img{
  height: 100%;
  width: auto;
}

.nav-ham-text {
    /* border: 1px solid green; */
    height: 120vh;
    /* left: 2vw; */
    width: 41vw;
    position: relative;
    bottom: 139vh;
}
.nav-ham-list ul{
  position: absolute;
  height: 20vh;
  width: 30vw;
  /* border: 1px solid red; */
  /* text-decoration: none; */
}

.nav-ham-list > li{
  list-style: none;
}

.nav-ham-list > li > a{
  font: normal normal normal 84px/93px 'LeatherfaceRegular';
  letter-spacing: 0.2vw;
  color: #4E3305;
  opacity: 1;
  /* font-size: 3.5vw;
  line-height: 12vh; */
  font-size: /*2rem*/1.5rem;
  line-height: 7vh;
}

.ham-anchor > a{
  text-decoration: none;
}
.ham-nav-icons{
  display: inline-block;
  /* border: 1px solid red; */
  height: 3rem/*8vh*//*10vh*/;
  width: 2rem/*7vw*/;
  position: relative;
  top: 5vh;
  /* margin-right: 0.3rem;/*2vw*/
}

/* navbar header mobile ends */
/*navbar header ends*/

/*footer for download*/
.footer-aboutus {
    /* border: 2px solid blue; */
    height: 30vh;
    /* width: auto; */
    width:100%;
    margin-left: -1vw;
    /* margin-top: 23vw;*/
    margin-top: 15%;
    overflow: hidden;
}
footer{
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 2.5rem;
  /* margin-top: 1vh; */
}
.footer-1{
  /* border:2px solid green; */
  background-color: black;
  height: 52vh;
  width:100%;
  /* width: 100vw; */
  overflow:hidden;
}
.yellow-footer-img{
  /* border: 2px solid blueviolet; */
  position: relative;
  left: 0;
  display: inline-block;
  text-align: center;
  height: 44vh;
  width: 51vw;
  padding-top: 8vh ;
}
.yellow-footer-img img{
  height: 100%;
  width: 100%;
}

.copyright{
  display: inline-block;
  position: relative;
  top: -16vh;
  left: 5vw;
  height: 24vh;
  width: 30vw;
  text-align: center;
  color: white;
  font-family: 'PoppinsMedium';
  /* border: 2px solid yellow; */
}

.copyright-text{
  display: block;
  /* margin-top: 50px; */
  font-size: 1.5vw;
  margin-bottom: 9vh;
   /* border: 2px solid red; */
  position:relative;
  /* top:5px; */
}
.email-div{
  display: block;
  margin-top: -2vh;
  /* border: 2px solid pink; */
}
.email-icon{
  display: inline-block;
  height: 1.5vw;
  width: 2vw;
  vertical-align: sub;
}
.email-icon img{
  height: 100%;
  width: 100%;
}
.mail-id{
  display: inline-block;
  font-size:1.2vw;
  /* border: 2px solid lightgreen; */
}

.mail-id a{
  text-decoration: none;
  color: white;
}
.social-icons{
  display: inline-block;
  position: relative;
  height: auto;
  width: 7vw;
  float: right;
  top: 14vh;
  right: 0;
  padding-top: 0vh;
}

.icons-vertical{
  display: block;
  height: 7vh;
  width: 3vw;
  margin-bottom: 1.5vh;
  /* border: 2px solid orange; */
}
#insta{
  width:45%;
}
.icons-vertical a img{
  height: 100%;
  width: 100%;
}

#twt{
  height: auto;
  width: 3.7vw;
  margin-left: -0.3vw;
  margin-bottom: -3.9vh;
}

.footer-text{
  /*border-style: solid;
  border-color: green;*/
  position:absolute;
  top: 29%;
  left:5%;
  height:170px ;
  width:70%;
  /* border: 2px solid green; */
}
.left-footer-text{
  position:absolute;
  left:40%;
  height:135px ;
  width:50%;
  /* border: 2px solid blue; */
  text-align: left;
}
.right-footer-text{
  position: absolute;
  /* margin-left: 0vw; */
  height: 10vh;
  width: 14vw;
  /* border: 2px solid red; */
  text-align: left;
}
.right-footer-list a {
  float: left;
  color: #4E3305;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* color: #FFFFFF; */
  font-size: 2vw;
  font-family: 'LeatherfaceRegular';
  line-height: 2.9vh;
  letter-spacing: 0.15vw;
}

.right-footer-list{
  list-style: none;
  line-height: 5px;
}
.left-footer-list{
  list-style: none;
  line-height: 5px;
}
.left-footer-list a {
  float: left;
  color: #4E3305;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* color: #FFFFFF; */
  font-size: 2vw;/*18px*/
  font-family: 'LeatherfaceRegular';
  letter-spacing: 0.1vw;
  line-height: 2.2vh;
}

.footer-2{
  display: none;
}
/* footer ends */
/* footer for download ends */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
/*media queries*/
@media only screen and (max-width: 1280px){
  .footer-aboutus {
    margin-top: 20%;
  }
}
@media only screen and (max-width:1080px) {
  .icons-vertical {
    width: 2.5rem;
  }
  #twt {
    width: 3rem;
  }
  #insta {
    width: 2.5rem;
  }
}
@media only screen and (max-width: 980px){
  .right-footer-list a {
    padding: 14px 13px;
  }

}
@media only screen and (max-width: 896px){
  .right-footer-list a {
    padding: 14px 3px;
  }
  .yellow-footer-img {
    height: 40vh;
    width: 55vw;
    padding-top: 12vh;
  }
  .right-footer-list a {
    font-size: 1.4rem;
  }
  .left-footer-list a {
    font-size: 1.4rem;
  }
  .mail-id {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 835px){
  .right-footer-list a {
    padding: 14px 0px;
  }
  .left-footer-list a {
    padding: 14px 0px;
  }
}
@media only screen and (max-width: 760px){
  .drop-down{
    display: inline-block;
  }
 .nav_bar ul{
   display: none;
 }
 .logo{
   top: 6%;
   left: 6%;
   width: 18vw;
 }
  #download-mobile{
     display:block;
  }

  #download-desktop{
    display:none;
  }
  .flex1 img{
    padding-top: 6vh;
  }/*Check this out*/
/*Footer*/
   .footer-1{
     display: none;
   }
   .footer-2{
     display: block;
     background-color: black;
     position: absolute;
     /* bottom: 0; */
     width: 100%;
     height: max-content;
     overflow: hidden;
     left:0px;
     /* top:83rem;/*64rem, 125%;*/
   }

   .yellow-footer-img{
     /* height: 88vh; */
     height:37rem;/*75vh;*/
     width: 100vw;
     margin-top: -11vh;/*-5vh*/
   }
   .footer-text{
     height: 84vh;
     width: 34vw;
     left: 31vw;
     /* top: 0vh; *//**/
     top:13vh;/*7vh*/
   }
   .copyright{
     top: 3vh;
     left: 0vw;
     height: 16vh;
     width: 31vw;
     color: #4E3305;

   }
   .copyright-text{
     font-size: 1.9vw;
     line-height: 4vh;
     width: 41vw;
     left: -5vw;
   }
   .email-div{
     margin-top: -7vh;
   }
   .email-icon{
     height: 2.4vw;
     width: 3.5vw;
   }
   .mail-id{
     font-size: 1.6vw;
   }
   .nav-mobile{
     height: 10vh;
     width: 33vw;/*40vw;*/
   }
   .nav_tab{

   }

   .social_media_icons img{
     height: auto;
     width: 3rem;/*4.5vw;*/
   }
   .twitter img{
     height: auto;
     width: 3.4rem;/*5.1vw;*/
   }
   .twitter{
     margin-left: 0;
   }
   .right-footer-list{
     list-style: none;
     margin-left: -12vw;
     line-height: 5px;
   }
   .right-footer-text{
     position: absolute;
     margin-left: 8vw;
     height: 96vh;
     width: 17vw;
   }
   .right-footer-list a{
     line-height: 0.7;
     font-size: 1.5rem;/*2.5vw*/
     /* border: 1px solid green; */
     width: 32vw;
   }
   .footer-aboutus {
     margin-top: 21%;/*45%;*/
   }
 /*Footer ends*/


}
@media only screen and (max-width: 563px){
  .nav-mobile {
    width: 12rem;
  }
  .email-div {
    width: 13rem;
    margin-left: -1rem;
  }
  .mail-id {
    font-size: 0.8rem;
  }
  .copyright-text {
    font-size: 0.9rem;
    width: 52vw;
    left: -11vw;
  }
}

@media only screen and (max-width: 548px){
  .copyright-text {
    width: 53vw;
  }
}

@media only screen and (max-width:537px){
  .copyright-text {
    width: 54vw;
  }
}
@media only screen and (max-width:526px){
  .copyright-text {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 467px){
  .copyright-text {
    width: 56vw;
  }
}
@media only screen and (max-width:449px){
  .copyright-text {
    width: 19rem;
    left:-5rem;
  }
  .email-div {
    margin-left: -2rem;
  }
  .nav-mobile {
    margin-left: -1rem;
  }
  .download-text {
    font-size: 2rem;
  }
}
/* media queries ends */
/*media queries for mobile view - 414px*/
@media only screen and (max-width: 414px){

  .logo {
    top: 1rem;
    left: 1rem;
    width: 7rem;
  }
  .footer-text {
    left: 7rem;;
  }
  .drop-down {
    height: 2rem;
    width: 3rem;
    top: 3rem;
  }
  .download-text {
    font-size: 2.4rem;
    padding-top: 8rem;
  }
  .email-icon {
    height: 1rem;
    width: 1.2rem;
  }
  /*footer remove whitespace*/
  .yellow-footer-img {
    bottom: -4px;
  }

}
/*media queries for mobile view - 414px ends*/
@media only screen and (max-width: 375px){
  /* .copyright-text {
    width: 18rem;
  } */
  .footer-text {
    left: 6rem;
  }
  .nav-mobile {
    margin-left: -1.3rem;
  }
}
/*media queries for mobile view - 360px*/
@media only screen and (max-width: 360px){
  .copyright-text {
    width: 18rem;
  }
  .footer-text {
    left: 6rem;
  }
}
/*media queries for mobile view - 360px ends*/
